.team-name{
    font-size:2.5em;
    margin-left: 0.5em;
}

.navbar-section{
    font-size:1.6em;
}
.navbar .account-button
{
    position: absolute;
  top: 0px;
  right: 15px;
}

@media (max-width: 767px) {
  .navbar .account-button {
    right: 75px;
  }
}